.movie-list {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
}

.movie-item {
  background-color: #2645cd;
  padding: 10px;
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(190, 35, 35, 0.1);
  text-align: center;
}

.movie-item img {
  max-width: 100%;
  border-radius: 4px;
}

.movie-item h3 {
  margin: 10px 0;
  font-size: 18px;
}

.movie-item p {
  color: #777;

}
.navbar {
  background-color: #333;
  color: white;
  padding: 10px;
}
.movie-highlight {
  background-color: #f0f0f0;
  border-radius: 5px;
  margin-bottom: 20px;
  padding: 20px;
}
.movie-highlight img {
  max-width: 100%;
  border-radius: 5px;
}
.movie-highlight p {
  font-size: 16px;
  color: #333;
}
.button {
  background-color: blue;
  color: white;
  border: none;
  border-radius: 5px;
  padding: 10px 20px;
  font-size: 16px;
  cursor: pointer;
}
.button:hover {
  opacity: 0.8;
}
body {
  background-color: #f0f0f0;
  margin: 0;
  font-family: Verdana, Geneva, Tahoma, sans-serif, sans-serif;
}
