.movie-list-container {
    background-color: #08d9c7;
    color: #1d1c1e;
    font-family: Arial, sans-serif;
    text-align: center;
    padding: 20px;
}

.movie-list-title {
    font-size: 24px;
    margin-bottom: 20px;
    color: #d16983;
    animation: titleAnimation 2s infinite alternate;
}

@keyframes titleAnimation {
    from {
        transform: translateX(-7px);
    }
    to {
        transform: translateX(7px);
    }
}

.movie-overview {
    background-color: #33cc99; /* Verde tropical */
    padding: 10px;
    border-radius: 5px;
    margin-top: 10px;
}

ul {
    background-color: #1ee5e9; /* Naranja tropical */
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding: 10px;
}

li {
    padding: 10px;
    box-shadow: 0 2px 4px rgba(171, 65, 192, 0.1);
    transition: transform 0.2s ease;
    margin: 10px;
    width: 25%;
}

li:hover {
    transform: scale(1.05);
}

/* Agrega estilos para el título de la película */
h1 {
    margin: 0;
    font-weight: bold;
    background-color: #afedee;
}

/* Estilo para la imagen de la película */
img {
    width: 150px;
    height: 150px;
}

  
